HELP.md
target/
.mvn/
!**/src/main/**/target/
!**/src/test/**/target/
jianzhi/logs

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.classpath
.metadata/
.project
.settings/

mvnw
mvnw.cmd

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
